{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'index/style.css' %}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"> -->

    <title>Document</title>
</head>
<body>
    

    
    <div class="banner " >
        <div class="navbar">
            <div class = "full_logo">
                <img src="{%static 'logo.png' %}" class = "logo" alt="Logo">
                <div class="logoheading">
                    <h2 >EXAMINATION</h2>
                    <h2 >WARRIOR</h2>
                </div>
            </div>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Teacher</a></li>
                <li><a href="">Student</a></li>
                <li><a href="">Admin</a></li>
            </ul>
        </div>
        <div class="content">
            <p class = "content__up">Write your exam now</p>
            <br>
            <h1>Success doesn't  </h1>
            <h1>come to you,</h1>
            <h1>you go to it</h1>
            <hr>
            <p class = "content__down">Keep going - you might be almost there</p>
            <br>
            <div>
                <button type="button"><span></span> STUDENT SIGN UP </button>
            </div>
        </div>
    </div>

</body>
</html>