{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'student-dashboard/style.css'%}">
    <title>Document</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <div class = "full_logo">
                <img src="{% static 'logo.png' %}" class = "logo" alt="Logo">
                <div class="logoheading">
                    <h2 >EXAMINATION</h2>
                    <h2 >WARRIOR</h2>
                </div>
            </div>
            <ul>
                <li><a href="{% url 'index' %}">Logout</a></li>
            </ul>
        </div>
    <div class="container">
        <div class="move">
        <div class="card ">
            <div class="imgBx">
                <img src="{% static 'student-dashboard/examrm.png' %}" alt="">
            </div>
            <div class="content">
                <h1>Course Exam</h1>
                <ul>
                    {%for course in courses%}
                        <a href="{%url 'quiz-page' course.id %}"><h2>{{course}}</h2></a>
                    {%endfor%}
                </ul>   
                <!-- <ul>
                    <li><a href="">English</a></li>
                    <li><a href="">Math</a></li>
                    <li><a href="">Computer</a></li>
                </ul> -->
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="{% static 'student-dashboard/result.png' %}" alt="">
            </div>
            <div class="content">
                <a class = "result" href="">Go to the exam result</a>
            </div>
        </div>
        </div>
    </div>
    </div>
</body>
</html>